<header>
    <!-- Navigation bar -->
    <nav class="black">
        <!-- Logo -->
        <a href="[[=URL('index')]]">
            <b>py4web <script>document.write(window.location.href.split('/')[3]);</script></b>
        </a>
        <!-- Do not touch this -->
        <label for="hamburger">☰</label>
        <input type="checkbox" id="hamburger">
        <!-- Left menu ul/li -->
        [[block page_left_menu]][[end]]
        <!-- Right menu ul/li -->
        <ul>
            [[if globals().get('user'):]]
            <li>
            <a class="navbar-link is-primary he">
                [[=globals().get('user',{}).get('first_name')]]
            </a>
            <ul>
                <li><a href="[[=URL('auth/profile')]]">Edit Profile</a></li>
                <li><a href="[[=URL('auth/change_password')]]">Change Password</a></li>
                <li><a href="[[=URL('auth/logout')]]">Logout</a></li>
            </ul>
            </li>
            [[else:]]
            <li>
            Login
            <ul>
                <li><a href="[[=URL('auth/register')]]">Sign up</a></li>
                <li><a href="[[=URL('auth/login')]]">Log in</a></li>
            </ul>
            </li>
            [[pass]]
        </ul>
    </nav>
</header>