[[extend 'layouts/layout.html']]

<div class="columns is-multiline">
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="box">
            <!-- Content 1 -->
            <p>[[=message]]</p>
        </div>
    </div>
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="box">
            <!-- Content 2 -->
            <p>Content Box 2</p>
        </div>
    </div>
    <div class="column is-full-mobile is-half-tablet is-one-third-desktop">
        <div class="box">
            <!-- Content 3 -->
            <p>Content Box 3</p>
        </div>
    </div>
</div>